<form class="" action="/" method="post">
  <input type="text" name="todoList" value="" placeholder="Add a task!">
  <input type="submit" name="addTodo" value="Add!">
</form>
  <h1>The Task at Hand!</h1>
<ul class="tasks">

  {{#each todos}}
  <form class="deleteForm" action="/complete" method="post">
    <input type="hidden" name="task" value="{{this}}">
    <input type="submit" value="Mark as complete!" ><li>{{this}}</li>

  </form>
  {{/each}}
</ul>
<br>
<h2>Your Accomplishments</h2>
<ul class="completed">

    {{#each completed}}
    <li>
      <label>{{this}}</label>
    </li>
    {{/each}}

</ul>
